*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;

}

button , a {
  cursor: none !important;

}
body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #111;
}
#customCursor{
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#customCursor .childCursor{
  width: 10px;
  height: 10px;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 50%;
}

header {
  min-height: 100vh;
  background: url("ressources/hero-background.jpg") fixed no-repeat center;
  /* background-size: cover; */
  color: #f1f1f1;
  text-align: center;
  position: relative;
}
div.header-title {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50% , -50%);
}
div.header-title h1 {
  font-size: clamp(30px , 7vw , 80px);
  font-weight: 800;
}
div.header-title #typingBar {
  font-weight: 200;
  font-size: clamp(30px , 10vw , 100px);
  animation: coursor 900ms ease-in-out infinite;
}
@keyframes coursor {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
div.header-title p {
  opacity: 0;
  font-weight: 200;
  font-size: clamp(16px , 3vw , 22px);
}
nav {
  padding-top: 30px;
}
nav ul {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin-right: 40px;
  font-size: clamp(10px , 5vw ,20px);
}

div.underLine {
  background-color: #f1f1f1;
  width: 30%;
  height: 0.5px;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}
.nav-item:hover .underLine {
  width: 100%;
  opacity: 1;
  /* Ajoutez ici les propriétés CSS que vous souhaitez appliquer */
}

#downBtn {
  border-radius: 50%;
  border: 1px solid rgba(240, 240, 240 , 0.3);
  background: rgba(17,17,17,255);
  position: absolute;
  bottom: 5px;
  transform: translateX(-50%);
  padding: 10px 15px;
  opacity: 0;
}
#downBtn img {
  width: 15px;
}
/* main & container*/
main {
  background-color: rgba(17,17,17,255);
  color: #f1f1f1;
  padding: 0 100px;
}
.container {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 110px;
  padding-bottom: 100px;

}
/* section 1 */
section.section1{
  min-height: 100vh;
  align-items: center;
  padding-top: 50px;
}
.title , .title + p
 {
  opacity: 0;
}
.title.visible {
  opacity: 1;
  animation: fadeIn 2s ease-out;
}
.title + p.visible{
  opacity: 1;
  animation: fadeIn 1s ease-in-out ,  movedown 1s ease-out ;
}
@keyframes movedown {
  from{
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
.title {
  font-size: clamp(10px , 5vw ,60px );
  font-weight: 200;
}
.section1-title span {
  font-weight: 800;
}
.contactBtn {
  display: flex;
  align-items: center;
}
.contactBtn span {
  margin-right: 15px;
}
.contactBtn img {
  width: 14px;
}
.section1-box1 , .section1-box2 {
  height: 400px;
  overflow: hidden;
  margin-top: auto;
  opacity: 0;
}
.section1-box1.visible , .section1-box2.visible {
  opacity: 1;
  animation: fadeIn 3s ease-out;
}

.section1-box1 p:nth-child(1){
  font-size: clamp(10px,5vw,24px);
}
.section1-box1 p:nth-child(2){
  font-weight: 200;
  margin-top: 30px;
  padding-right: 10px;
}
.section1-box1 button {
  margin-top: 40px;
}
.section1-box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.slide {
  margin-top: 70px;
  overflow: hidden;
}
.slide > * {
  opacity: 0;
}
.slide2 {
  flex-direction: row-reverse;
}
div.slide-img{
  height: 210px;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide-text{
  overflow: hidden;
  height: 210px;
}
.slide-text p:nth-child(2){
  font-weight: 200;
}

/* animation */
.header-title p.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}
#downBtn.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* slide animation */
.slide >.visible{
  opacity: 1;
  animation: fadeIn 500ms ease-in , moveSkew 500ms ease-in-out;
}
.slide2 >.visible {
  animation: fadeIn 500ms ease-in , moveSkewRevert 500ms ease-in-out;
}
@keyframes moveSkew {
  from {
    transform: skewX(-20deg);
  }
  to {
    transform: skewX(0);
  }
}
@keyframes moveSkewRevert {
  from{transform: skewX(20deg)}
  to {transform: skewX(0);}
}

/* media queries */
@media  screen and (max-width: 992px) {
  .container {
    padding: 0 15px;
    padding-bottom: 50px;
    border: none;
  }
  main {
    padding: 0;
  }
}
@media  screen and (max-width: 768px) {
  .section1-box2 {
    display: none;
  }
  section.section1{
    min-height: auto;
    margin-bottom: 20px;
  }
  .section1-box1 {
    height: auto;
    margin-top: 10px;
  }
  .section2{
    margin-top: 20px;
  }
}
@media  screen and (max-width: 576px) {
  .slide {
    margin-top: 20px;
  }
  .slide-text {
    height: auto;
  }
}
@media screen and (max-width:407px){
  nav {
    margin-bottom: 30px;
  }
  .nav-item {
    margin-right: 110px;
    margin-top: 10px;
  }

}