*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;


}
html {
  cursor: none;

}

button , a , input , select, textarea{
  cursor: none !important;

}
body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #111;
}
#customCursor{
  position: absolute;
  top: 0;
  transform: translate(0,0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#customCursor::after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 50%;
}
@media (pointer:coarse){
  #customCursor{
    display: none;
  }
}

header {
  min-height: 100vh;
  background: url("ressources/hero-background.jpg") fixed no-repeat center;
  background-size: cover;
  color: #f1f1f1;
  text-align: center;
  position: relative;
}
div.header-title {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50% , -50%);
}
div.header-title h1 {
  font-size: clamp(30px , 7vw , 80px);
  font-weight: 800;
}
div.header-title #typingBar {
  font-weight: 200;
  font-size: clamp(30px , 10vw , 100px);
  animation: coursor 900ms ease-in-out infinite;
}
@keyframes coursor {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
div.header-title p {
  opacity: 0;
  font-weight: 200;
  font-size: clamp(16px , 3vw , 22px);
}
nav {
  padding-top: 30px;
}
nav ul {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin-right: 40px;
  font-size: clamp(10px , 5vw ,20px);
}

div.underLine {
  background-color: #a3a0a0;
  width: 100%;
  height: 0.5px;
  transition: transform 0.2s ease-in-out;
  transform: scaleX(30%);
  transform-origin: left;
}
.nav-item:hover .underLine {
  background-color: white;
  transform: scaleX(100%);
}

#downBtn {
  border-radius: 50%;
  border: 1px solid rgba(240, 240, 240 , 0.3);
  background: rgba(17,17,17,255);
  position: absolute;
  bottom: clamp(13px , 5vh , 20px);
  transform: translateX(-50%);
  padding: 10px 15px;
  opacity: 0;
}
#downBtn img {
  width: 15px;
}
/* main & container*/
main {
  background-color: rgba(17,17,17,255);
  color: #f1f1f1;
  padding: 0 100px;
}
.container {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 110px;
  padding-bottom: 100px;
  overflow-x: hidden;

}
/* section 1 */
section.section1{
  height: fit-content;
  /* max-height: 900px; */
  align-items: center;
  padding-top: 50px;
  margin-bottom: 12px;
}
.title , .title + p
 {
  opacity: 0;
}
/* animation */
.title.visible {
  opacity: 1;
  animation: fadeIn 2s ease-out;
}
.title + p.visible{
  opacity: 1;
  animation: fadeIn 1s ease-in-out ,  movedown 1s ease-out ;
}
@keyframes movedown {
  from{
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
.title {
  font-size: clamp(10px , 5vw ,60px );
  font-weight: 200;
}
.section1-title span {
  font-weight: 800;
}
.contactBtn {
  display: flex;
  align-items: center;
}
.contactBtn span {
  margin-right: 15px;
}
.contactBtn img {
  width: 14px;
}
.section1-box1 , .section1-box2 {
  overflow: hidden;
  align-self: flex-start;
  margin-top: 100px;
  height: 400px;
}
.section1-box2 {
  opacity: 0;
}
.section1-box1 >* {
  opacity: 0;
}
/* animation */
.section1-box2.visible {
  opacity: 1;
  animation: fadeIn 3s ease-out;
}
.section1-box1 .visible {
  opacity: 1;
  animation: fadeIn 3s ease-in-out;
}

.section1-box1 p:nth-child(1){
  font-size: clamp(10px,5vw,24px);
}
.section1-box1 p:nth-child(2){
  font-weight: 200;
  margin-top: 30px;
  padding-right: 10px;
  font-size: clamp(10px,5vw,18px);
  line-height: 1.4;
}
.section1-box1 button {
  margin-top: 40px;
}
.section1-box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.slide {
  margin-top: 70px;
  overflow: hidden;
}
.slide > * {
  opacity: 0;
  transform: skewX(20deg);
}
.slide:nth-child(even) > *{
  transform: skewX(-20deg);

}
.slide:nth-child(even) {
  flex-direction: row-reverse;
}
div.slide-img{
  height: 210px;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 80%;
}
.slide1 img {
  object-position: center;
}
.slide-text{
  overflow: hidden;
  height: 210px;
}
.slide-text p {
  line-height: 1.4;

}
.slide-text p:nth-child(2){
  font-weight: 200;
}

/* animation */
.header-title p.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}
#downBtn.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* slide animation */
.slide >.visible{
  opacity: 1;
  transform: skewX(0deg);
  animation: fadeIn 500ms ease-in , moveSkew 500ms ease-in-out;
}
.slide:nth-child(even) >.visible {
  animation: fadeIn 500ms ease-in , moveSkewRevert 500ms ease-in-out;
}
@keyframes moveSkew {
  from {
    transform: skewX(-20deg);
  }
  to {
    transform: skewX(0);
  }
}
@keyframes moveSkewRevert {
  from{transform: skewX(20deg)}
  to {transform: skewX(0);}
}

/* media queries */
@media  screen and (max-width: 992px) {
  .container {
    padding: 0 15px;
    padding-bottom: 50px;
    border: none;
  }
  main {
    padding: 0;
  }
}
@media  screen and (max-width: 767px) {
  .section1-box2 {
    display: none;
  }
  section.section1{
    min-height: auto;
    margin-bottom: 20px;
    height: fit-content;

  }
  .section1-box1 {
    height: auto;
    margin-top: 10px;
  }
  .section2{
    margin-top: 20px;
  }
  .section1-box1 p:nth-child(2) {
    padding-left: 10px;
}
  
}
@media  screen and (max-width: 576px) {
  .slide {
    margin-top: 20px;
  }
  .slide-text {
    height: auto;
  }
}
@media screen and (max-width:407px){
  nav {
    margin-bottom: 30px;
  }
  .nav-item {
    margin-right: 110px;
    margin-top: 10px;
  }

}